html, body{
    margin: 0;
    padding: 0;
    font-family: 'TW Cen MT Condensed', sans-serif;
}

/* Header */
.header{
    background-color: rgb(255, 218, 185, 0.7);
    height: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
.header:hover{
    background-color: rgb(255, 218, 185, 1);
    position: sticky;
}
.logo{
    width: auto;
    height: 30px;
    padding: 5px;
    opacity: 1;
    z-index: 10;
    float: left;
}

.menu-bar{
    float: right;
}
.menuu-800{
    margin-bottom: 0;
}
.menuu-800 .register2, .menuu-800 #login2{
    display: none;
}
.menuu-800 .dropdown-800{
    position: relative;
    display: flex;
    padding: 0 10px 5px;
    margin-top: -24px;
    cursor: pointer;
}
.menuu-800 .dropdown-800 p{
    font-size: 20px;
    font-weight: bold;
}
.arrow-down-800{
    height: 10px;
    width: auto;
}
.menuu-800 .dropdown-800 .dropdown-content-800 a{
    display: flex;
	align-items: center;
	text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
	background-color: white;
}
.menuu-800 .dropdown-800 .dropdown-content-800{
    position: absolute;
    top: 75%;
    right: 3%;
    width: 200%;
    list-style-type: none;
    display: none;
    flex-direction: column;
}
.menuu-800 .dropdown-800:hover .dropdown-content-800{
    display: flex;
}
.menuu-800 .dropdown-800:hover .dropdown-content-800 li a:hover{
    background-color: lightgray;
}

/* Login Popup */
#login-popup{
    display: none;
    z-index: 5000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.login-content{
    background-color: white;
    border-radius: 20px;
    max-width: 400px;
    width: 70%;
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 20px;
    font-family: 'TW Cen MT Condensed', sans-serif;
    z-index: 50001;
}
.login-content img{
    height: 50px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10px 0;
}
.login-content #email, .login-content #pw{
    width: auto;
    height: 15px;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px 0;
    background-color: lightgray;
    border: none;
    font-family: 'TW Cen MT Condensed', sans-serif;
    font-size: 20px;
}
.login-content .login-btn{
    background-color: #ff7a18;
    width: auto;
    height: 30px;
    color: white;
    padding: 0 30px;
    font-family: 'TW Cen MT Condensed', sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.login-content .forgot, .login-content .hv-acc{
    font-size: 20px;
    color: gray;
    margin: 10px;
}
.login-content .p1 a{
    text-decoration: none !important; 
    color: gray;
    cursor: pointer;
}
.login-content .p1 a:hover{
    color: black;
}
#login-popup .login-content form{
    text-align: center;
}
.close{
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: gray;
}
.close:hover, .forgot:hover{
    color: black;
    cursor: pointer;
}

.header-2{
    background-image: linear-gradient(#fd5300, #ffb018);
    border: none;
    height: 230px;
    margin-top: -65px;
    text-align: center;
}
.header-2 p{
    text-align: center;
    font-size: 22px;
    margin: 0;
    color: white;
}
.header-2 .p-1{
    padding-top: 100px;
}
.header-2 .p-2{
    padding-bottom: 18px;
}
.rgs{
    margin-top: 0;
}
.register-btn{
    background-color: black;
    border-radius: 20px;
    border: none;
    width: 110px;
    height: auto;
    color: white;
    font-size: 22px;
    font-family: 'TW Cen MT Condensed', sans-serif;
    padding: 3px;
}
.register-btn:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Content */
.slider-outer{
    width: 400px;
    height: 97.77px;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px auto 0;
}

.slider-inner{
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 97.77px;
    margin-left: 0%;
}

.slider-inner img{
    width: 400px;
    height: 97.77px;
    position: relative;
    float: left;
}

.content-2{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.content-2 .top-10{
    background-image: linear-gradient(#d73434, #ff60a3);
}
.content-2 .genre-btn{
    background-image: linear-gradient(#1d78f2, #06e2d0);
    margin-top: 30px;
    margin-bottom: 20px;
}
.content-2 .top-10, .content-2 .genre-btn{
    border: none;
    border-radius: 20px;
    height: 150px;
    width: auto;
    padding: 0 50px;
    color: white;
    font-family: 'TW Cen MT Condensed', sans-serif;
    cursor: pointer;
}
.top-10 h1, .genre-btn h1{
    font-size: 30px;
    margin: 0;
    font-weight: 200;
}
.top-10 h2, .genre-btn h2{
    font-size: 25px;
    border-top: 0.5px solid white;
    border-bottom: 0.5px solid white;
    margin: 10px 0;
    padding: 3px 0;
    font-weight: 200;
}

@media only screen and (max-width: 410px) and (min-width: 300px){
    .slider-outer{
        width: 300px;
        height: 73.33px;
    }
    .slider-inner{
        width: 300px;
        height: 73.33px;
    }
    .slider-inner img{
        width: 300px;
        height: 73.33px;
    }
}

@media only screen and (max-width: 779px) and (min-width: 550px){
    .slider-outer{
        width: 535px;
        height: 130.78px;
    }
    .slider-inner{
        width: 535px;
        height: 130.78px;
    }
    .slider-inner img{
        width: 535px;
        height: 130.78px;
    }
}

@media only screen and (min-width: 800px){
    /* Header */
    .header{
        height: 50px;
    }
    .logo{
        height: 40px;
    }

    .menuu-800 .dropdown-800 .dropdown-content-800 .register, .menuu-800 .dropdown-800 .dropdown-content-800 #login{
        display: none;
    }
    .menuu-800{
        list-style-type: none;
        display: inline-flex;
    }
    .menuu-800 .dropdown-800{
        margin-top: -20px;
    }
    .menuu-800 .dropdown-800 p{
        border-right: 2px solid black;
        padding: 0 30px 0 30px;
    }
    .menuu-800 .dropdown-800 .dropdown-content-800{
        top: 80%;
        width: 100%;
    }
    .menuu-800 .register2, .menuu-800 #login2{
        display: inline-flex;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    .menuu-800 .register2 a{
        text-decoration: none;
        color: black;
        padding: 0 15px 0 30px;
    }
    .menuu-800 #login2{
        padding: 0 30px 0 15px;
    }

    .login-content{
        width: 40%;
    }

    .header-2{
        margin-top: -75px;
        height: 250px;
    }
    .header-2 .p-1{
        padding-top: 105px;
    }
    .header-2 p{
        font-size: 30px;
    }

    /* Content */
    .top10, .genre{
        display: inline-flex;
        margin-top: 20px;
    }
    .content-2 .genre-btn{
        margin-left: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .content-2 .top-10, .content-2 .genre-btn{
        height: 190px;
        padding: 0 75px;
    }
    .top-10 h1, .genre-btn h1{
        font-size: 35px;
    }
    .top-10 h2, .genre-btn h2{
        font-size: 30px;
    }
    .slider-outer{
        width: 775px;
        height: 189.44px;
    }
    .slider-inner{
        width: 775px;
        height: 189.44px;
    }
    .slider-inner img{
        width: 775px;
        height: 189.44px;
    }
}